h1 { color: #007bff;
}

#nav_border{
    margin-top: 1em;
    border: solid 0.2em #6c757d;
}



#home_img{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../images/Product-1.png");
    border: 0.5em solid #007bff;
  }


#basket_button{
    font-weight: bold;
    color:  #007bff;
  }

#amd_img{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../images/ryzen.jpg");
  }

#intel_img{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../images/intel\ 10th\ gen.png");
  }

#nvidia_img{
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../images/RTX\ 3000.webp");
  }

#border_middle_index{
      border-left: solid 0.5em #6c757d;
      border-right: solid 0.5em #6c757d;
  }

.name{
    margin: 0 auto;
    color: #007bff;
    font-weight: bold;
}

#name_text{
    color: #007bff;
    font-weight: bold;
}

#price_ppage{
  color: #007bff;
  font-weight: bold;
}

.shop_img{
  opacity: 0.5;
}
#coming_soon{
  pointer-events: none;
  opacity: 0.2;
}

#alert_stock{
  color: red;
  font-weight: bold;
  
}